<!DOCTYPE html>
<html>
  <head>
    <title>Paint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'paint-app' %>
  </head>

  <body>
  <style>
    #paint-canvas{
      border: 1px solid #111;
      background: url(<%= image_path 'lightblue_empty_grid.svg' %>);
    }
  </style>
    <%= yield %>
  </body>
</html>
