<!DOCTYPE html>
<html>
  <head>
    <title>Paint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'paint-app' %>
  </head>

  <body>
  <style>
    #main-container{
      display: grid;
    }
    #paint-canvas{
      grid-column: 1/1;
      grid-row: 2;
      border: 1px solid #111;
      background: url(<%= image_path 'lightblue_empty_grid.svg' %>);
    }

    #figure-selector-container{
      grid-column: 1 / 2;
      grid-row: 1;
      width: 40vw;
    }

    #resizing-controls-container{
      grid-column: 2 / 2;
      grid-row: 1;
      width: 50vw;
    }

  </style>
    <%= yield %>
  </body>
</html>
